.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #f5f5f5;
}

.home {
  text-decoration: none;
  color: #000;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.code {
  font-size: 0.8rem;
  margin: 40px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  background-color: #fff;
}

.header {
  position: absolute;
  left: 0;
  top: 20px;
  text-align: center;
  width: 100%;
}
